.pokeCard {
    display: flex;
    width: 70%;
    height: auto;
    max-height: 250px;
    max-width: 300px;
    min-width: 30px;
    background-color: var(--dark-ligther);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
    border-radius: 20px;
}


.pokeSprite {
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
}


.pokeCard p {
    padding-bottom: 10px;
    margin-top: -15px;
    font-size: 2vw;
    font-weight: bold;
    color: var(--gold);
    text-align: center;
}

.pokeCard:hover {
    background-color: var(--dark-ligther-hover);
}