* {
    --gold: #D79527;
    --dark: #1A1816;
    --dark-ligther: #1E1E1E;
}


.MainPage {
    display: flex;
    height: 100%;
}

.cardGrid {
    background-color: var(--dark);
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    overflow: auto;
}

@media(min-width: 1000px) {
    .cardGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}