* {
    --gold: #D79527;
    --dark: #1A1816;
    --dark-ligther: #1E1E1E;
}

#sideBar {
    display: flex;
    flex-flow: column;
    background-color: var(--dark-ligther);
    height: 100%;
    width: 200px;
    align-items: center;
    flex-shrink: 0;
}

#sideBar label {
    width: auto;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
    word-wrap: unset;
    color: var(--gold);

}

#sideBar input {
    height: 30px;
    width: 80%;

}